html,
body {
  position: absolute;
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.app-container {
  position: relative;
  display: block;
  background-color: var(--background_0);
}