.app-footer {
  position: relative;
  height: max-content;
  width: 100%;
  color: $text_1;
  border-top: 1px solid var(--footer-border-color);

  &__container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
      "f-logo f-icons"
      "f-statement f-icons";
    align-items: stretch;
    min-height: $footer-height;
    height: 100%;

    @include from (550px) {
      grid-template-columns: auto 1fr auto;
      grid-template-rows: auto;
      grid-template-areas: "f-logo f-statement f-icons";
      align-items: center;
    }
  }

  &__logo {
    grid-area: f-logo;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-right: 2.2rem;
    padding-top: 1.2rem;

    @include from (550px) {
      padding-top: 0;
    }

    h1 {
      font: {
        family: "Fascinate";
        size: 1.75rem;
      }
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-left: 0.2rem;
    }

    img {
      display: inline-block;
      height: 2rem;
      width: auto;
    }
  }

  &__right-statement {
    grid-area: f-statement;
    font-size: $size_5;
    padding: 1.2rem 0;

    @include from (550px) {
      padding: 0;
    }

    > .shop-name {
      display: inline-block;
      color: $text_1;
      font-weight: 600;
      margin-left: 0.4rem;
    }

    @include from (550px) {
      > .right-statement__line-break {
        display: none;   
      }
    }
  }

  &__sns-icons {
    grid-area: f-icons;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 1.2rem;
    margin-left: 2.2rem;

    @include from(550px) {
      padding-bottom: 0;
      align-items: center;
    }

    > *:not(:last-child) {
      margin-right: 0.8rem;
    }

    .app-footer__sns-icon-link {
      $side: 3rem;

      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      color: inherit;
      width: $side;
      height: $side;
      border-radius: $side;
      border: 1px solid $primary_0;
      line-height: $side;

      &:hover,
      &:active {
        text-decoration: none;
        color: $text_1;
        border-color: $text_1;
      }
    }
  }
}