.page-order-details {
  position: relative;

  .order-id {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1.2rem;

    font: {
      size: $size_5;
      style: italic;
    }

    label {
      font-weight: 600;
    }

    span {
      display: inline-block;
      color: $neautral_dark_1;
      letter-spacing: 1px;
      text-decoration: underline;
      margin-left: 0.8rem;
      opacity: 0.825;
      cursor: pointer;

      &:hover,
      &:focus {
        color: $text_1;
      }
    }
  }

  .price-summary-item.cta-container {
    padding: 2rem;
    padding-top: 3.6rem;

    button {
      align-self: stretch;
    }
  }

  .paypal-buttons-wrapper {
    align-self: stretch;
  }
}
