$custom-bp: 820px;

.page-place-order {
  position: relative;

  &__container {
    position: relative;
    margin: 0 auto;
    max-width: 88rem;

    @include until ($custom-bp) {
      max-width: 52rem;
    }

    .place-order__content {
      position: relative;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      grid-template-areas:
        "order-details"
        "payment-summary";  
      gap: 3.2rem;
      margin-top: 3.6rem;

      @include from($custom-bp) {
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr;
        gap: 4.8rem;
        grid-template-areas: "order-details payment-summary";  
      }
    }

    .order-details-container,
    .payment-summary-container {
      position: relative;
      width: 100%;
      margin: 0 auto;
    }

    .order-details-container {
      grid-area: order-details;
    }

    .payment-summary-container {
      grid-area: payment-summary;
    }

    @include tablet {
      padding: 0 1.5rem;
    }
  }

  .sub-heading {
    font-size: 1.6rem;
    margin-bottom: 3.2rem;

    &::before {
      @include has-icon;
      display: inline-block;
      margin-right: 0.4rem;
      font-size: 1.6em;
      transform: translateY(0.6rem);
    }

    &.is-order-details::before {
      content: '\eb74';
    }
    &.is-payment::before {
      content: '\ea51';
    }
  }

  .price-summary-table {
    @include from ($custom-bp) {
      min-width: 36rem;
    }
  }
}
