.page-signup {
  position: relative;

  .signup-page-heading {
    width: max-content;
    border-bottom: 2px solid $text_1;
    padding-bottom: 0.4rem;
  }

  .signup-form-err {
    position: relative;
    display: flex;
    align-items: flex-start;
    color: $warning;
    font-size: $size_5;
    margin-bottom: 3rem;
    margin-top: -2rem;
    padding-left: 0.4rem;

    .pre-icon {
      display: inline-block;
      margin-right: 0.4rem;
      font-size: 1.15em;
      font-weight: 600;
    }
  }

  .signup-cta-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .register-btn {
      min-width: 10.6rem;
      margin-bottom: 1.8rem;
    }

    .to-login {
      display: flex;
      align-items: center;
      color: $text_1;
      font-size: $size_5;

      .link {
        margin-left: 0.4rem;
      }
    }
  }
}
