.app-header {
  display: block;
  background-color: $primary_0;

  &__content {
    @include width-constraint-center;

    position: relative;
    display: flex;
    align-items: center;
    height: $toolbar-height;

    .app-header__logo {
      display: block;
      height: 2.8rem;
      width: auto;
      margin-right: 0.6rem;
    }

    .app-header__app-title {
      display: block;
      font: {
        size: 2.2rem;
        weight: 600;
      }
      line-height: 1.1;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      user-select: none;
    }

    .app-header__menu-container {
      display: block;
      margin-left: 2.4em;
    }
  }
}