.app-header {
  display: block;
  background-color: $primary_0;

  &__content {
    @include width-constraint-center;

    position: relative;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    height: $toolbar-height;

    .app-header__branding {
      position: relative;
      display: flex;
      align-items: flex-end;

      .app-header__logo {
        display: inline-block;
        height: 2.8rem;
        width: auto;
        margin-right: 0.6rem;
      }

      .app-header__app-title {
        display: inline-block;
        font: {
          size: 2.2rem;
          weight: 600;
        }
        line-height: 1.1;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        user-select: none;
      }
    }

    .app-header__menu-container {
      display: block;
      margin-left: 2.4em;

      .app-header__menu-btn {
        border: {
          radius: 2px;
          width: 1px;
          style: dashed;
          color: transparent;
        }
        padding: 0.6rem 1.2rem;

        .menu-btn__wrap {
          display: inline-flex;
          align-items: center;
          border-bottom: 2px solid currentColor;
          padding: 0.4rem 0;
  
          i {
            display: inline-block;
            font-size: 0.9em;
            margin-left: 0.4rem;
          }
        }

        &:hover,
        &:active,
        &:focus {
          border-color: rgba($secondary_0_hex, 0.5);
        }
      }
    }
  }
}