@mixin fromBreakPoint {
  @media screen and (min-width: 530px) {
    @content;
  }
}

.app-header {
  display: block;
  background-color: $primary_0;
  height: max-content;

  &__content {
    @include width-constraint-center;

    position: relative;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
      "h-branding h-btns"
      "h-searchbar h-searchbar";
    align-items: center;
    min-height: $toolbar-height;
    height: auto;

    @include fromBreakPoint {
      grid-template-columns: auto 1fr auto;
      grid-template-rows: auto;
      grid-template-areas: "h-branding h-btns h-searchbar";
      align-items: center;
      height: $toolbar-height;
      min-height: unset;
    }

    .app-header__branding {
      grid-area: h-branding;
      position: relative;
      display: flex;
      align-items: flex-end;
      padding: 2.4rem 0 1.6rem;

      .app-header__logo {
        display: inline-block;
        height: 2.2rem;
        width: auto;
        margin-right: 0.6rem;
      }

      .app-header__app-title {
        display: inline-block;
        font: {
          size: 2rem;
          weight: 600;
        }
        line-height: 1.1;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        user-select: none;
      }

      @include fromBreakPoint {
        padding: 0;

        .app-header__logo {
          height: 2.8rem;
        }

        .app-header__app-title {
          font-size: 2.2rem;
        }
      }
    }

    .app-header__menu-container {
      grid-area: h-btns;
      display: block;
      margin-left: 0.8em;
      padding: 1.4rem 0 0;

      @include fromBreakPoint {
        margin-left: 2.4em;
        padding: 0;
      }

      .app-header__menu-btn {
        border: {
          radius: 2px;
          width: 1px;
          style: dashed;
          color: transparent;
        }
        padding: 0 0.4rem;

        .menu-btn__wrap {
          display: inline-flex;
          align-items: center;
          padding: 0.4rem 0;
          
          .text {
            display: none;
          }

          i {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 0.9em;
            margin-left: 0.4rem;
            border-radius: 50%;
            width: 3.6rem;
            height: 3.6rem;
            border: 1px solid currentColor;
          }
        }

        &:hover,
        &:active,
        &:focus {
          border-color: rgba($secondary_0_hex, 0.5);
        }

        @include from (680px) {
          padding: 0.6rem 1.2rem;

          .menu-btn__wrap {
            border-bottom: 2px solid currentColor;

            .text {
              display: inline-block;
            }
  
            i {
              border-radius: 0;
              border: none;
              width: auto;
              height: auto;
            }
          }
        }
      }
    }

    .app-header__search-bar-container {
      grid-area: h-searchbar;
      position: relative;
      display: flex;
      justify-content: flex-end;
      width: 100%;
      padding-bottom: 1.8rem;

      @mixin fromBreakPoint {
        display: block;
        width: auto;
        padding-bottom: 0;
      }
    }
  }
}