.app-header__searchbar {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: auto;
  width: max-content;

  > input {
    display: inline-block;
    width: 16rem;
    padding: 0.6rem 1.4rem 0.6rem 0.8rem;
    background-color: rgba(0,0,0,0);
    border-bottom: 2px solid $secondary_0;
    color: $secondary_0;
    letter-spacing: 0.6px;
    font: {
      size: 1.5rem;
      weight: 400;
    }

    @include placeholder {
      font: inherit;
      color: rgba($secondary_0_hex, 0.45);
    }

    @include from (680px) {
      width: 20rem;
    }
  }

  > button {
    width: 3.2rem;
    height: 3.2rem;
    font-size: 1.8rem;
  }
}