button,
.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  @extend %unselectable;
  height: auto; // Usability purposes
  min-height: 4.2rem; // A11Y purposes
  border-radius: 4.2rem;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  border: {
    color: transparent;
    width: 1px;
    style: solid;
  }
  outline: none;
  background-color: rgba(0,0,0,0);
  color: $text_0;
  transition: box-shadow 120ms ease-in;
  white-space: nowrap;
  font: {
    family: "Roboto";
    size: $size_4;
  }

  &.is-small {
    min-height: 3.2rem;
    font-size: $size_5;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1.2rem;
  }

  &.is-extra-small {
    min-height: 2.6rem;
    font-size: $size_5;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border-radius: 0.6rem;
  }

  > * { display: inline-block; }

  > i.is-prefix { 
    margin-right: 0.4rem;
    font-size: 1.4em;
  }
  > i.is-postfix {
    font-size: 1.4em;
    margin-left: 0.4rem;
  }

  &[disabled] {
    opacity: 0.65;
    cursor: not-allowed;

    &:hover,
    &:active {
      box-shadow: none;
    }
  }

  &.icon {
    border-radius: 0;
    padding: 0;
    min-width: unset;
    min-height: unset;
    width: 4.2rem;
    height: 4.2rem;
    font-size: 1.6rem;
  }

  &.is-text-btn {
    min-width: 9.6rem;
  }

  $btn-styles: 'primary', 'secondary', 'outline';

  @each $btn-style in $btn-styles {
    &.is-#{$btn-style} {
      background-color: var(--button-bg-color-#{$btn-style});
      color: var(--button-text-color-#{$btn-style});
      border-color: var(--button-border-color-#{$btn-style});

      &:focus,
      &:hover {
        box-shadow: 0px 0px 1px 3px var(--button-shadow-on-focus-#{$btn-style});
      }

      &:active {
        box-shadow: 0px 0px 3px 4px var(--button-shadow-on-active-#{$btn-style});
      }
    }
  }
}

.buttons-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;

  &.is-column {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: unset;
  }
}
