html,
body {
  position: absolute;
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#root {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: $secondary_0;
}

table.table {
  $tr-border-bottom: 1px solid var(--divider-color);

  position: relative;

  thead {
    border-bottom: $tr-border-bottom;
  }

  tr {
    position: relative;
    height: 3.6rem;
    vertical-align: middle;
  }

  tbody > tr {
    border-bottom: $tr-border-bottom;
  }

  th,
  td {
    padding: 0 0.4rem;
  }

  th {
    font-size: 1.4rem;
    font-weight: 600;
    color: $text_1;
  }

  td {
    line-height: 3.6rem; // same as the tr default height.
    font-size: 1.3rem;
    color: $neautral_dark_1;
  }
}
