$proshop-icons: (
  // search icons to use -> https://fontawesome.com/search?o=r&m=free&s=solid
  /*
    usage e.g. : <Icon tag="span" name="search" /> -> <span class="fa-search" />
    refer to Icon.js global component
  */
  cart: \ec55,
  sign-in: \ecf7,
  search: \eb83,
  heart: \eb3b,
  instagram: \eb54,
  facebook: \ea9c,
  github: \eb14,
  youtube: \ed21,
  linkedin: \eb6c,
  star: \ec8f,
  star-half: \ec91,
  arrow-left: \e932,
  arrow-right: \e933,
  arrow-up: \e934,
  arrow-down: \e92f,
  plus: \ec0c,
  circle-plus: \ec0d,
  hamburger: \eb72,
  gear: \eb05,
  handbag: \eb29,
  bathtub: \e995,
  close: \ed1d,
  circle-close: \ed1e,
  user-minus: \ecf6,
  circle-user-minus: \ecf1,
  user: \ecee,
  circle-user: \ecef,
  profile: \ecf5,
  trash-can: \ecdc,
  check: \ea0e,
  checks: \ea10,
  circle-check: \ea0f,
  check-square: \ea11,
  cloud-arrow-down: \ea27,
  chat-text: \ea0d,
  chat-tear-drop-text: \ea0c,
  hourglass: \eb43,
  image: \eb50,
  info: \eb53,
  lightning: \eb66,
  light-blub: \eb64,
  link: \eb6a,
  circle-minus: \eb9b,
  question: \ec22,
  smiley: \ec69,
  warning: \ed07,
  dollar: \ea51,
  list-check: \eb74
);

@font-face {
  font-family: "Proshop Icons";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/proshop-icons.woff") format("woff");
}

[class^="icon-"] {
  font-family: 'Proshop Icons';
  font-weight: 600;
  font-style: normal;
}

@each $name, $unicode in $proshop-icons {
  .icon-#{$name}::before { content: "#{$unicode}"; }
}
