@font-face {
  src: url(../assets/fonts/Roboto_Flex_Regular.woff2) format('woff2');
  font-family: "Roboto";
  font-weight: 400;
}

@font-face {
  src: url(../assets/fonts/Roboto_Flex_Solid.woff2) format('woff2');
  font-family: "Roboto";
  font-weight: 600;
}

@font-face {
  src: url(../assets/fonts/Fascinate_Inline.woff2) format('woff2');
  font-family: "Fascinate";
  font-weight: 400;
}

@font-face {
  src: url(../assets/fonts/Yeseva.woff2) format('woff2');
  font-family: "Yeseva";
  font-weight: 400;
}

:root {
  font: {
    size: 10px;
    family: "Roboto";
    weight: 400;
  }
}

body {
  font-size: $size_4;
  line-height: 1.4;
  color: $text_0;
  letter-spacing: 0.75px;
}

$heading_sizes: 2.8rem, 2.6rem, 2.4rem, 2.25rem, 2rem;

@each $size in $heading_sizes {
  $i: index($heading_sizes, $size);

  h#{$i},
  .is-title-#{$i} {
    font-family: "Yeseva";
    font-size: $size;
    letter-spacing: 1px;
    color: $text_1;
  }
}

.has-yeseva {
  font-family: "Yeseva";
}

.has-fascinate {
  font-family: "Fascinate";
}

.has-text-bold {
  font-weight: 600;
}

.has-text-1 {
  color: $text_1;
}

.has-text-blue-sea {
  color: $blue_sea;
}

.has-text-neau-dark-1 {
  color: $neautral_dark_1;
}

.has-color-warning {
  color: $warning;
}

a,
.link {
  display: inline-block;
  color: $blue_sea;
  transition: color 200ms;
  cursor: pointer;
  outline: none;

  &:hover,
  &:active,
  &:focus {
    color: $neautral_dark_1;
  }

  &:focus {
    border: 1px solid $blue_sea;
    border-radius: 0.4rem;
  }

  &.has-underline {
    border-bottom: 1px solid currentColor;
  }
}
