// z-indexes
$zindex_toast: 30;
$zindex_toolbar: 20;
$zindex_footer: $zindex_toolbar;

// miscellaneous
$page-max-content-width: 1600px;
$toolbar-height: 7.6rem;
$footer-height: 5.8rem;
$page-common-side-padding: 2rem;
$page-common-side-padding-mobile: 1.5rem;

// text-sizes
$size_0: 2.4rem;
$size_1: 2.2rem;
$size_2: 2rem;
$size_3: 1.8rem;
$size_4: 1.6rem;
$size_5: 1.4rem;
$size_6: 1.2rem;

// Alias for fonts
$size_extra_smallL: $size_6;
$size_small: $size_5;
$size_normal: $size_4;
$size_medium: $size_3;
$size_large: $size_2;
$size_extra_large: $size_1;

$radius: 3px;
$radius-large: 5px;

// breakpoints
$gap: 1rem;
$smallphone: 428px;
$tablet: 769px;
$desktop: 1200px;

$transitionSpeed: 300ms;

@import "colors";
@import "mixins";