.page-template {
  min-height: 100%;

  &__page-heading {
    display: flex;
    align-items: center;
    font-size: 2.4rem;

    .prefix-icon {
      display: inline-block;
      font-size: 1.2em;
      font-weight: bold;
      margin-right: 0.6rem;
      margin-top: -0.2rem;
      color: $neautral_dark;
    }

    &.is-underlined {
      width: max-content;
      border-bottom: 2px solid $text_1;
      padding-bottom: 0.4rem;
    }

    @include phone {
      font-size: 2rem;
    }
  }
}