.page-template {
  min-height: 100%;

  &__page-heading {
    display: flex;
    align-items: center;
    font-size: 2.4rem;

    .prefix-icon {
      display: inline-block;
      font-size: 1.2em;
      font-weight: bold;
      margin-right: 0.6rem;
      margin-top: -0.2rem;
      color: $neautral_dark;
    }

    &.is-underlined {
      width: max-content;
      border-bottom: 2px solid $text_1;
      padding-bottom: 0.4rem;
    }

    @include phone {
      font-size: 2rem;
    }
  }

  .sub-heading {
    font-size: 1.6rem;
    margin-bottom: 2.6rem;

    &::before {
      @include has-icon;
      display: inline-block;
      margin-right: 0.4rem;
      font-size: 1.6em;
      transform: translateY(0.6rem);
    }

    &.is-order-details::before {
      content: '\eb74';
    }
    &.is-payment::before {
      content: '\ea51';
    }
    &.is-update-profile::before {
      content: '\ecef';
    }
    &.is-update-profile::before {
      content: '\ecef';
    }
  }

  .page-description {
    display: block;
    font-size: $size_5;
    margin-top: 0.8rem;
    color: $neautral_dark_1;

    &::before {
      @include has-icon;
      content: "\eb53";
      display: inline-block;
      margin-right: 0.4rem;
      font-size: 1.25em;
      transform: translateY(0.2rem);
    }
  }

  .page-form-container,
  .page-width-constraints {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 52rem;
    
    @include tablet {
      padding: 0 1.5rem;
    }
  }

  .page-stepper {
    position: relative;
    width: calc(100% - 2rem);
    margin-bottom: 5rem;
  }

  .section-divider {
    position: relative;
    display: block;
    border: none;
    height: 1px;
    background-color: $neautral_dark_1;
    opacity: 0.625;
    margin-top: 3.8rem;
    margin-bottom: 3.8rem;

    &.has-width-constraint {
      width: 100%;
      max-width: 52rem;
      margin-left: auto;
      margin-right: auto;

      @include tablet {
        max-width: 48rem;
      }
    }
  }
}
