@mixin veryWide {
  @include from(1600px) {
    @content;
  }
}

@mixin littleWide {
  @include from(916px) {
    @content;
  }
}

.product-review-container {
  position: relative;
  display: block;
  margin-top: 3rem;
  width: 100%;
  border: 1px solid $text_1;
  padding: 1.6rem 1.2rem;

  @include littleWide {
    max-width: 52rem;
  }

  .product-review__heading {
    font-size: 1.4rem;
    margin-bottom: 2.6rem;
    padding: 0.2rem 0.6rem;
    border-radius: 0.6rem;
    border: 1px solid currentColor;
    width: max-content;
  }

  .product-review__form-field {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0.4rem;

    &.is-column {
      flex-direction: column;
      gap: 0.8rem;
      align-items: flex-start;
    }
  }

  .product-review__label {
    margin: 0;
    margin-right: 0.8rem;
    text-decoration: underline;
    letter-spacing: 1px;

    &.comment-label {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }

  .rating-preview {
    margin-left: 0.8rem;
  }

  .review-input {
    min-height: 20.8rem;
  }

  .review-list {
    position: relative;
    padding-bottom: 3.2rem;
    border-bottom: 1px solid $text_1;
    margin-bottom: 1.6rem;

    &.no-divider {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  .review-list__item {
    position: relative;
    width: 100%;

    &.no-history {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 0.6rem;
      padding: 1.8rem;
      font-weight: 600;
      color: $neautral_dark_1;
  
      i {
        display: inline-block;
        font-size: 5.2rem;
        line-height: 1;
      }
    }
  }

  .info-sentence {
    display: inline-block;
    font-size: 0.825em;
    margin-right: 0.4rem;
  }

  button.review-submit-btn {
    min-width: 10.6rem;
  }
}
