.page-login {
  position: relative;

  .login-container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 52rem;
    
    @include tablet {
      padding: 0 1.5rem;
    }
  }

  .login-cta-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .sign-in-btn {
      min-width: 10.6rem;
      margin-bottom: 1.8rem;
    }

    .to-register {
      display: flex;
      align-items: center;
      color: $text_1;
      font-size: $size_5;

      .link {
        margin-left: 0.4rem;
      }
    }
  }
}
