.page-cart {
  .cart-is-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    padding: 0 2rem;

    i {
      display: block;
      font-size: 10.5rem;
      color: $neautral_dark;
      opacity: 0.275;

      @include tablet {
        font-size: 16.5rem;
      }
    }

    &__text {
      display: block;
      font-size: $size_4;
      text-align: center;
      color: $neautral_dark;

      @include tablet {
        font-size: $size_3;
      }
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 3.6rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @include tablet {
      width: max-content;
    }

    @include from (1210px) {
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
    }
  }

  .cart-items-list {
    position: relative;
    margin-top: 3rem;
    border-top: 1px solid var(--divider-color);
    width: 100%;

    @include tablet {
      width: fit-content;
      margin-top: 0;
    }

    &__headings {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-bottom: 1px solid var(--divider-color);

      > * {
        display: none;
        padding: 0.6rem 0;
        font-size: $size_5;
        font-weight: 600;
        text-transform: capitalize;
      }

      .heading__product {
        display: inline-block;

        @include tablet {
          width: 42rem;
        }
      }

      .heading__quantity {
        text-align: center;

        @include tablet {
          display: inline-block;
          width: 11.5rem;
        }
      }

      .heading__amount {
        text-align: center;

        @include tablet {
          display: inline-block;
          width: 13.6rem;
        }
      }
    }
  }

  .page-cart__cart-summary {
    position: relative;
    border: 1px solid $text_1;
    width: 100%;
    max-width: 42rem;
    margin-top: 6.4rem;

    @include from (1210px) {
      margin-top: 0;
      margin-left: 7.2rem;
      max-width: 34rem;
    }

    .cart-summary__row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.6rem 2.2rem;

      &:not(:first-child) {
        border-top: 1px solid $text_1;
      }

      label {
        display: inline-block;
        font-weight: bold;
        text-transform: capitalize;
        letter-spacing: 1.5px;
      }
    }

    .subtotal__amount {
      font-size: $size_2;
      color: $blue_sea;
    }

    .subtotal__qty > *:first-child {
      display: inline-block;
      color: $blue_sea;
      font-weight: 700;
      text-decoration: underline;
      font-size: 1.15em;
      margin-right: 0.2rem;
    }

    .checkout-btn {
      padding-top: 4.6rem;

      > button {
        width: 100%;
      }
    }
  }
}