.quantity-selector {
  position: relative;
  display: inline-flex;
  align-items: center;

  &__decrement-btn,
  &__increment-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: $size_3;
    flex-shrink: 0;
    min-height: unset;
    min-width: unset;
    padding: 0;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    background-color: var(--button-bg-color-primary);
    color: var(--button-text-color-primary);

    &:focus,
    &:hover {
      box-shadow: 0 0 1px 2px var(--button-shadow-on-focus-primary);
    }

    &:active {
      box-shadow: 0 0 1px 3px var(--button-shadow-on-active-primary);
    }
  }

  &__qty {
    display: inline-block;
    padding: 0 0.6rem;
    text-align: center;
    font-size: $size_4;
    font-weight: bold;
    min-width: 3.2rem;
  }
}

.quantity-selector.is-small {
  .quantity-selector__decrement-btn,
  .quantity-selector__increment-btn {
    width: 1.8rem;
    height: 1.8rem;
    font-size: $size_4;
  }

  .quantity-selector__qty {
    font-size: $size_5;
    min-width: 2.6rem;
  }
}
