$primary_0: var(--primary);
$secondary_0: var(--secondary);
$tertiary_0: var(--tertiary);
$background_0: var(--background_0);
$background_1: var(--background_1);
$text_0: var(--text_0);
$text_1: var(--text_1);
$warning: var(--warning);
$neautral_light: var(--neautral_light);
$neautral_light_1: var(--neautral_light_1);
$neautral_light_2: var(--neautral_light_2);
$neautral_dark: var(--neautral_dark);
$neautral_dark_1: var(--neautral_dark_1);
$neautral_dark_2: var(--neautral_dark_2);
$green_light: var(--green_light);
$orange_shine: var(--orange_shine);
$blue_sea: var(--blue_sea);

$colorVars: (
  /* footer */
  footer-border-color: (rgba(36, 43, 51, 0.25), rgba(36, 43, 51, 0.25)),

  /* product-card */
  home-product-card-shadow_normal: (rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
  home-product-card-shadow_hover: (rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
  home-product-card-border_normal: (rgba(204, 209, 210, 0.25), rgba(204, 209, 210, 0.25)),
  home-product-card-border_hover: (#{$text_1}, #{$text_1})
);

:root {
  @each $name, $pair in $colorVars {
    $light_val: nth($pair, 1);

    --#{$name}: #{$light_val};
  }
}

:root[data-theme="dark"] {
  @each $name, $pair in $colorVars {
    $dark_val: nth($pair, 2);

    --#{$name}: #{$dark_val};
  }
}