.app-layout {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: $toolbar-height 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "l-toolbar"
    "l-page";

  margin: 0 auto;
  border: 1px dashed #000;
}

.l-toolbar {
  grid-area: l-toolbar;
  position: fixed;
  z-index: $zindex_toolbar;
  width: 100%;
  height: $toolbar-height;
  border: 1px dashed #ff0000;
}

.l-page {
  grid-area: l-page;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}