.app-layout {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: $toolbar-height 1fr $footer-height;
  grid-template-columns: 1fr;
  grid-template-areas:
    "l-toolbar"
    "l-page"
    "l-footer";

  margin: 0 auto;
}

.l-toolbar {
  grid-area: l-toolbar;
  position: fixed;
  z-index: $zindex_toolbar;
  width: 100%;
  height: $toolbar-height;
}

.l-page {
  grid-area: l-page;
  position: relative;
  height: calc(100vh - $toolbar-height - $footer-height);
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px dashed #ff0000;
}

.l-footer {
  grid-area: l-footer;
  position: relative;
  height: $footer-height;
  width: 100%;
}