// Box sizing
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

// List
ul {
  list-style: none;
}

// input
input,
textarea,
[contenteditable="true"] {
  -webkit-touch-callout: default !important;
  -webkit-user-select: auto !important;
  -khtml-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  -o-user-select: auto !important;
  user-select: auto !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input {
  border: none;
  outline: none;

  &:focus {
    border: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Media
img,
audio,
video {
  height: auto;
  max-width: 100%;
}

// Iframe
iframe {
  border: 0;
}

// Table
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

th {
  font-weight: normal;
}

fieldset {
  border: none;
}