@font-face {
  src: url(../assets/fonts/Roboto_Flex_Regular.woff2) format('woff2');
  font-family: "Roboto";
  font-weight: 400;
}

@font-face {
  src: url(../assets/fonts/Roboto_Flex_Solid.woff2) format('woff2');
  font-family: "Roboto";
  font-weight: 600;
}

@font-face {
  src: url(../assets/fonts/Fascinate_Inline.woff2) format('woff2');
  font-family: "Fascinate";
  font-weight: 400;
}

:root {
  font: {
    size: 10px;
    family: "Roboto";
    weight: 400;
  }
}

body {
  font-size: $size_4;
  line-height: 1.4;
  color: $text_0;
}

.has-text-bold {
  font-weight: 600;
}