$primary_0: var(--primary);
$secondary_0: var(--secondary);
$tertiary_0: var(--tertiary);
$background_0: var(--background_0);
$background_1: var(--background_1);
$text_0: var(--text_0);
$text_1: var(--text_1);
$warning: var(--warning);

// hex values for the variables above -> need to be updated accordingly,
// if the color specs in colors.js change.
$primary_0_hex: #FED501;
$secondary_0_hex: #000000;
$tertiary_0_hex: #E4E4E4;
$background_0_hex: #FFFFFF;
$background_1_hex: #E4E4E4;
$text_0_hex: #000000;
$text_1_hex: #FFFFFF;
$warning_hex: #FD5C61;

// breakpoints
$smallphone: 428px;
$tablet: 769px;
$desktop: 1200px;

// z-indexes
$zindex_toolbar: 20;
$zindex_footer: $zindex_toolbar;

// miscellaneous
$page-max-content-width: 1600px;
$toolbar-height: 7.2rem;
$footer-height: 5rem;
$page-common-side-padding: 2rem;
$page-common-side-padding-mobile: 1.5rem;

// text-sizes
$size_0: 6.4rem;
$size_1: 3.2rem;
$size_2: 2.4rem;
$size_3: 1.8rem;
$size_4: 1.4rem;
$size_5: 1.2rem;

// Alias for fonts
$size_small: $size_5;
$size_normal: $size_4;
$size_medium: $size_3;
$size_large: $size_2;
$size__extra-large: $size_1;

$radius: 3px;
$radius-large: 5px;

$gap: 1rem;
$tablet: 769px;
$desktop: 1200px;

$transitionSpeed: 300ms;

@import "mixins";