$primary: var(--primary);
$secondary: var(--secondary);
$tertiary: var(--tertiary);
$background_0: var(--background_0);
$background_1: var(--background_1);
$text_0: var(--text_0);
$text_1: var(--text_1);
$warning: var(--warning);

// breakpoints
$smallphone: 415px;
$tablet: 769px;
$desktop: 1200px;

// miscellaneous
$page-max-content-width: 1600px;
$toolbar-height: 7.2rem;
$footer-height: 8rem;

// z-indexes
$zindex_toolbar: 20;
$zindex_footer: $zindex_toolbar;

@import "mixins";