.page-home {
  .loader-spinner {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include tablet {
      top: 20%;
    }
  }

  .latest-product-list {
    position: relative;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(24.8rem, 1fr));
    max-width: 100%;
    margin: 3.2rem auto 0;
    gap: 1.8rem;

    @include tablet {
      grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
      gap: 2.6rem;
    }
  }
}